In [2]:
import pandas as pd

movies = pd.read_csv("data/movies_with_posters.csv")

In [5]:
movies

,Unnamed: 0,id,original_title,overview,genre_ids,genre_names,tagged_overview,poster_url
0,0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]","['Drama', 'Crime']","238 Spanning the years 1945 to 1955, a chronic...",https://image.tmdb.org/t/p/w500/3bhkrj58Vtu7en...
1,1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[18, 80]","['Drama', 'Crime']",278 Framed in the 1940s for the double murder ...,https://image.tmdb.org/t/p/w500/9cqNxx0GxF0bfl...
2,2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]","['Drama', 'Crime']",240 In the continuing saga of the Corleone cri...,https://image.tmdb.org/t/p/w500/hek3koDUyRQk7F...
3,3,424,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]","['Drama', 'History', 'War']",424 The true story of how businessman Oskar Sc...,https://image.tmdb.org/t/p/w500/sF1U4EUQS8YHUY...
4,4,19404,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...","[35, 18, 10749]","['Comedy', 'Drama', 'Romance']","19404 Raj is a rich, carefree, happy-go-lucky ...",https://image.tmdb.org/t/p/w500/rfcy6Gd3PbFIqw...
...,...,...,...,...,...,...,...,...
9001,9002,12142,Alone in the Dark,Edward Carnby is a private investigator specia...,"[28, 14, 27]","['Action', 'Fantasy', 'Horror']",12142 Edward Carnby is a private investigator ...,https://image.tmdb.org/t/p/w500/huwSsxRnIiFuox...
9002,9003,5491,Battlefield Earth,"In the year 3000, man is no match for the Psyc...","[28, 12, 878]","['Action', 'Adventure', 'Science Fiction']","5491 In the year 3000, man is no match for the...",https://image.tmdb.org/t/p/w500/wXCRuBHdJ5aTFQ...
9003,9004,11059,House of the Dead,"Set on an island off the coast, a techno rave ...","[27, 28, 53]","['Horror', 'Action', 'Thriller']","11059 Set on an island off the coast, a techno...",https://image.tmdb.org/t/p/w500/lI6UBnxwHztggS...
9004,9005,14164,Dragonball Evolution,"On his 18th birthday, Goku receives a mystical...","[28, 12, 14, 878, 53]","['Action', 'Adventure', 'Fantasy', 'Science Fi...","14164 On his 18th birthday, Goku receives a my...",https://image.tmdb.org/t/p/w500/ztlqrY7VgFIFmt...
9005,9006,40016,Birdemic: Shock and Terror,A platoon of eagles and vultures attacks the r...,"[53, 14, 10749, 27, 878]","['Thriller', 'Fantasy', 'Romance', 'Horror', '...",40016 A platoon of eagles and vultures attacks...,https://image.tmdb.org/t/p/w500/j3rk5kKmaJTDyy...

In [7]:
from itertools import chain

all_genres = set(chain.from_iterable(movies['genre_names']))

# Sort them for readability
sorted_genres = sorted(all_genres)

# Join into a clean comma-separated string
genres_str = ", ".join(sorted_genres)

# Print result
print(genres_str)

 , ', ,, A, C, D, F, H, M, R, S, T, V, W, [, ], a, c, d, e, h, i, l, m, n, o, r, s, t, u, v, y